<%= form_with(model: setting, local: true) do |form| %>
  <% if setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mp3file01 %>
    <%= form.text_field :mp3file01, id: :setting_mp3file01 %>
  </div>

  <div class="field">
    <%= form.label :mp3file02 %>
    <%= form.text_field :mp3file02, id: :setting_mp3file02 %>
  </div>

  <div class="field">
    <%= form.label :mp3file03 %>
    <%= form.text_field :mp3file03, id: :setting_mp3file03 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
