<p id="notice"><%= notice %></p>

<p>
  <strong>Mp3file01:</strong>
  <%= @setting.mp3file01 %>
</p>

<p>
  <strong>Mp3file02:</strong>
  <%= @setting.mp3file02 %>
</p>

<p>
  <strong>Mp3file03:</strong>
  <%= @setting.mp3file03 %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
